* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  max-width: 900px;
  margin: 40px auto;
  display: flex;
}

.container .sideLeft {
  flex: 1;
  margin-right: 40px;
}

.container .sideLeft h1 {
  font-size: 2.5rem;
  color: #3a4b5c;
  margin: 0;
}

.container .sideLeft p {
  font-size: 16px;
  color: #6a7d8b;
  margin-bottom: 2.5rem;
}

.container .sideLeft input {
  width: 100%;
  border: none;
  border-bottom: 2px solid rgba(150, 163, 171, 0.5);
  color: #6a7d8b;
  padding: 10px 2px;
  margin-bottom: 30px;
  font-size: 14px;
  outline: 0;
  caret-color: #227c9d;
}

.container .sideLeft input::placeholder {
  opacity: 0.6;
}

.container .sideLeft input:disabled {
  opacity: 0.5;
  background-color: transparent;
}

.container .sideLeft button {
  width: 100%;
  background: #227c9d;
  color: #ffffff;
  font-size: 16px;
  margin-top: 2rem;
  padding: 15px 20px;
  border: 0;
  border-radius: 10px;
  cursor: pointer;
  outline: 0;
  transition: all ease 0.3s;
}

.container .sideLeft button:hover {
  opacity: 0.8;
}

.container .sideLeft button:disabled {
  opacity: 0.5;
  cursor: default;
}

.container .sideRight {
  flex: 1;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
  margin-left: 40px;
}

.container .sideRightResult {
  flex: 1;
  display: grid;
  margin-left: 40px;
}

.container .sideRightResult .arrow {
  position: absolute;
  background-color: #227c9d;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-left: -35px;
  margin-top: 145px;
  transition: all ease 0.3s;
}

.container .sideRightResult .arrow img{
  width: 30px;
}

/* Responsive */
@media (max-width: 890px) {
  .container {
    padding: 0 20px;
    flex-direction: column;
  }

  .container .sideLeft {
    margin-right: 0;
  }

  .container .sideRight {
    margin-left: 0;
    margin-top: 50px;
  }

  .container .sideRightResult {
    margin-left: 0;
    margin-top: 50px;
    border-radius: 10px;
  }

  .container .sideRightResult .arrow {
    margin-left: 0;
    margin-top: 0;
    background-color: transparent;
  }

  .container .sideRightResult .arrow img {
    transform: rotate(90deg);
  }

}

@media (max-width: 430px) {
  .container .sideRight {
    grid-template-columns: 1fr;
  }
}
